.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    padding-top: 5rem;
}
form{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
}
.formControl{
    padding: .4rem;
    margin: .3rem;
}
.buttonForm{
    width: 35%;
    padding: .4rem .1rem;
}