.formContainer{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    padding: 3rem  0 3rem 0;
    margin: 2rem 0;
}
form{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 1rem;
}