
.itemDetailCard{
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 1rem 3rem;
    width: 80%;
    margin: 0 auto;
}
.imgItemDetailCard{
    height: 400px;
}
.descrptionItemDetailCard{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h4{
    font-size: 1.3rem;
    text-align: center;
    padding: 0 0 1rem 0;
}
p{
    text-align: center;
    padding: .5rem;
    padding: 0 0 1rem 0;
}
.txtPrecio{
    font-size: 1.3rem;
    font-weight: 600;
}
.buttonCheckout{
    width: 30%;
    padding: .3rem;
    border-radius: 8%;
    font-size: .9rem;
    background-color: #1f7a1fa7;
    border: 1px solid #1f7a1fa7;
}