
.itemDetailCard{
    display: flex;
    align-items: center;
    border: 1px solid #545454;
    border-radius: 8px;
    padding: 1rem 3rem;
    width: 80%;
    margin: 2rem auto;
    background-color: #ffffff;
}
.imgItemDetailCard{
    height: 100%;
}
.descrptionItemDetailCard{
    padding: 3rem;
    display: flex;
    flex-direction: column;
}