.cartContainer{
    width: 60%;
    font-family: 'Trebuchet MS';
    padding: 1rem 5rem;
    margin: 2rem 0;
    background-color: #ffffff;
}
.emptyCart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.txtEmpyCart{
    margin-bottom: 2rem;
}
.itemCart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid black;
}
.imgCart{
    width: 7rem;
    padding: .5rem;
}
.precioTotalCart{
    width: 15%;
    padding: .5rem;
}
.confirmCart{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1.5rem;
}
.confirmCartButtons{
    display: flex;
    flex-direction: column;
}