.cartContainer{
    font-family: 'Trebuchet MS';
    padding: 1rem 5rem;
}
.emptyCart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.txtEmpyCart{
    margin-bottom: 2rem;
}
.itemCart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid black;
}
.imgCart{
    width: 7rem;
    padding: .5rem;
}
.titleCart{
    width: 20%;
    padding: .5rem;
}
.txtCantCart{
    width: 10%;
    padding: .5rem;
}
.txtPrecioCart,
.precioTotalCart{
    width: 15%;
    padding: .5rem;
}
.confirmCart{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1.5rem;
}
.txtConfirmCart{
    font-size: 1rem;
    margin-bottom: 2rem;
}
.confirmCartButtons{
    display: flex;
    flex-direction: column;
}
.buttonContineShopping,
.buttonConfirmCheckout{
    font-family: 'Trebuchet MS';
    padding: .3rem;
    margin: .2em;
    border-radius: .3rem;
}
.buttonContineShopping{
    background-color: #9494d6a5;
    border: 1px solid #3434aba5;
}
.buttonConfirmCheckout{
    border: 1px solid #1f7a1fa7;
}
.buttonCancel{
    border: none;
    font-family: 'Trebuchet MS';
    color: #ff0000;
    font-size: 1rem;
    text-decoration: underline;
    padding: .3rem;
    margin: .2em;
    border-radius: .3rem;
}