
.card{
    width: 20rem;
    height: 25rem;
    margin: 1rem auto;
    background-color: #ffffff;
    border-radius: 8px;  
    position: relative; 
    display: flex;
    justify-content: center;
   
}

.card:hover{  
    transform: scale(1.04);
    cursor: pointer;
}

.imgCard{
    width: 100%;
    object-fit: contain; 
}

.titCard{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #0000007b;
    border-radius: 0  0 8px 8px;  
    color: #FFF;
    font-size: .9rem;
    padding: .8rem;
}