nav{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .2rem;
    margin-top: .4rem;
    background-color: #c9c9c9;
}
ol{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
ol li{
    list-style-type: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: .5rem;
    margin: 0 1rem;
}
li a {
    text-decoration: none;
    color: black;
    font-weight: 550;
    font-size: 1.1rem;
}
.logoNav{
    width: 3rem;
    margin: 0 2rem;
  }