header{
    width: 100%;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 10rem;
    margin-top: .4rem;
    background-color: #1a1a1a;
}
ol{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
ol li{
    list-style-type: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: .5rem;
    margin: 0 1rem;
}
li a {
    text-decoration: none;
    color: black;
    font-weight: 550;
    font-size: 1.2rem;
    color: #ffffff;
}
.logoNav{
    width: 8rem;
    margin: .5rem 2rem;
}
.imgInicio{
    width: 50%;
    padding: 1rem;
}