*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eaeaea;
  height: 100vh;
  padding: 1rem;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .5rem 1rem;
  background-color: #c9c9c9;
  height: 12%;
  width: 100%;
}

.logoNav{
  height: 100%;
  margin: 0 2rem;
}