*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #484848;
  min-height: 100vh;
}
::-webkit-scrollbar {
  width: 0.5rem;
  margin: 0;
  background-color: #000000;
}
::-webkit-scrollbar-thumb {
  background: #484848;
  border-radius: 0.5rem;
  border-right: solid #000000 2px;
}

