*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  justify-content: center;
  justify-items: center;
  background-color: #eaeaea;
}

header{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 1.5rem;
  background-color: #c9c9c9;
  height: 100vh;
  margin-left: -92%;
}

.logoNav{
  height: 100px;
}