.buttonCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: .5rem 3rem;
    /* border: 1px solid #9ca8c8;
    border-radius: 5%;
    background-color: #b5c4ea; */
}


.buttons{
    width: 100%;
    margin-bottom: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.txtCant{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    padding: .3rem;
}
.buttonAdd{
    background-color: #1f7a1fa7;
    border: 1px solid #1f7a1fa7;
    padding: .3rem;
    border-radius: 8%;
}
.buttonRem{
    background-color: #ba3232af;
    border: 1px solid #ba3232af;
    padding: .3rem;
    border-radius: 8%;
}

.buttonAddToCart,
.buttonCleanCart{
    width: 100%;
    padding: .3rem;
    border-radius: 8%;
    font-size: .9rem;
    background-color: #1f7a1fa7;
    border: 1px solid #1f7a1fa7;
}
.buttonCleanCart{
    margin-top: .5rem;
    background-color: #ba3232af;
    border: 1px solid #ba3232af;
}